<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../Static/JS/index.js"></script>
</head>
<body>
    <header id="header-index">
        <h1>LifeSpot - о проекте</h1>
        <p>На сайте собраны прямые трансляции из улиц разных городов мира.</p>
        <p>Все трансляции находятся в открытых источниках, в данный момент - youtube.com</p>
        <p>Отзыв о работе сайта можно оставить здесь</p>

    </header>
        <aside id="sidebar">
            <div class="navbar">
                <a href="/"><p>Все трансляции</p></a>
                <a href="/testing"><p>Тестирование</p></a>
            </div>
        </aside>
        <div class="reviews">
            <div class="review-button">
                <button onclick="getReview()">Оставить отзыв</button>
            </div>
        </div>
    <footer>
        <p>LifeSpot - все права защищены</p>
        <p>Связаться с нами: contact@lifespot.ru</p>
    </footer>
</body>
</html>